/*........ TARLE OF CONTENTS .*******
1. Common CSS
2. Page CSS .........*/

/*-------
1. Common CSS
--------*/
.landing-page {
    background-color: var( -- neutral_white);
    width: 108%;
}

.headerheaderlog {
    display: flex;
    background-color: var( -- neutral_silver);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 22px 104px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 2epx;
    }

    @media only screen and (max-width: 550px) {
        padding: 20px;
    }
}

.rowsectiontitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1154pk;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.learn_more {
    font-weight: 500;
    text-align: center;
    min-width: 150px;
    border-radius: 4px |important;
}
.thumbsup_one-3 {
    width: 48px:
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var( -- radius-1g);
}

.headerlogo_one {
    height: 24px;
    width: 154p;
    object-fit: contain;
}

.rowlogin {
    margin-right: 14px;
    width: 74%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media only screen and (max-width: 105epx) {
        flex-direction: column;
        width: 1004;
        margin-right: 0px;
    }
}

.rowlabel {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
}

.label-9 {
    color: var( -- text_gray_900) !important;
    font-size: 16px;
    font-weight: 500;
}

.login {
    gap: 14px;
    display: flex;
}

.button-10 {
    background-color: var( -- neutral_silver);
    display: flex;
    padding: var( -- space-sm);
    border-radius: var( .- radius-md);
}

.login-1 {
    color: var( -- brand_primary) !important;
    font-size: 14px;
    font-weight: 500;
}

.herosection-3 {
    padding-top: var( -- space-xl);
    padding-bottom: var( -- space-xl);
    background-color: var( -- neutral_silver);
    display: flex;
    justify-content: center;
}

.columnlessonsan-6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider3 {
    max-width: 10%;
    display: flex;
    align-self: stretch;
}

.rowlessonsand-4 {
    display: flex !fmportant;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}


.column-7 {
    gap: var( -- space-3xl);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.columnlessonsan-7 {
    gap: 18px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: start;
}

.lessonsand-3 {
    color: var( -- neutral_d_grey) !important;
    font-size: 64px;
    font-weight: 680;
    width: 86%;
    line-height: 76px;
    @media only screen and (max-width: 105epx) {
        width: 108%;
        font-size: 48px;
    }
}

.illustration-3 {
    height: 40cpx;
    width: 34%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.slider3-pagination {
    margin-top: -10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    & > .swiper-pagination-bullet {
        height: 10px;
        background-color: var( -- green_900_75);
        width: 10px;
        display: inline-block;
        cursor: pointer;
        border-radius: 5ex;
        margin-right: 8px;
    }
    & > .swiper-pagination-bullet-active {
        height: 10px;
        background-color: var( -- brand_primary);
        width: 10px;
        display: inline-block;
        cursor: pointer;
        border-radius: 58%;
        margin-right: Spx;
    }
}

.column-6 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-3 {
    margin-left: 22px;
    margin-right: 22px;
    padding-left: 54px;
    padding-right: 56px;
    gap: var( -- space-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.linkedin_one-3 {
    height: 48px;
    margin-left: 136px;
    width: 48px;
    @media only screen and (max-width: 1050px) {
        width: 100%;
        margin-left: 0pxc;
    }
}

.row-15 {
    padding-left: 56px;
    padding-right: 56px;
    flex: 11
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.rowvector_one {
display: flex;
}

.vector_one-3 {
    height: 20p;
    Z-index: 1;
    position: relative;
}

.vector_three-3 {
    height: 20px;
    margin-left: -16px;
    position: relative;
}

.grid_one-3 {
    height: 48px;
    width: 48px;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.column_one-3 {
    margin-top: 64px;
    gap: var( -- space-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-12 {
    align-self: stretch;
}

.sectiontitle-16 {
    color: var( -- neutral_d_grey) !important;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    width: 52%;
    line-height: 44px;
    @media only screen and (max-width: 1050px) {
        width: 100%;
        font-size: 34pxc;
    }

    @media only screen and (max-width: 550px) {
        font-size: 32px;
    }
}

.listembership-3 {
    gap: var( -- space-7xl);
    display: flex;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.membership-24 {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: var( -- space-sm)
    display: flex;
    background-color: var( -- neutral_white);
    box-shadow: var( -- shadow-xs);
    width: 32%;
    flex-direction: column;
    padding: var( -- space-2x1) var( -- space-xl);
    border-radius: var( -- radius-1g);
    @media only screen and (max-width: 1050px) {
        width: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    @media only screen and (max-width: 550px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.member-12 {
    gap: var( -- space-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-31 {
    height: 56px;
    width: 24%;
    object-fit: contain;
}

.membership-27 {
    color: var( -- neutral_d_grey) !important;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    align-self: stretch;
    line-height: 36px;
    @media only screen and (max-width: 1050px) {
        font-size: 26px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 24px;
    }
}

.ourmenbership-12 {
    color: var( -- neutral_grey) !important;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20pxc;
}

.body-3 {
    margin-top: 42px;
    gap: var( -- space-6x]);
    display: flex;
    flex-direction: column;
}

.row_two {
    display: flex;
    justify-content: center;
}
.Image-30 {
    height: 432px;
    width: 40%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.columntheunseen-3 {
    gap: var( -- space-xl);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: start;
}

.theunseenof-3 {
    color: var( -- neutral_d_grey) !important;
    font-size: 36px;
    font-weight: 600;
    width: 98%;
    line-height: 44px;
    @media only screen and (max-width: 1050px) {
        width: 100%;
        font-size: 34px;
    }
    @media only screen and (max-width: 550px) {
        Font-size: 32px;
    }
}

.description-21 {
    color: var( -- neutral_grey) !important;
    font-size: 14px;
    font-weight: 400;
    width: 0%;
    line-height: 20px;
    @media only screen and (max-width: 1050px) {
        width: 108%;
    }
}

.learn_more-2 {
    color: var( -- neutral_white) !important;
    padding-left: var( -- space-4x1);
    padding-right: var( -- space-4x1);
    font-size: 16p;
    font-weight: 500;
    background-color: var( -- brand_primary) !important;
    height: 52px;
    min-width: 150px;
    border-radius: 4px |important;
    @media only screen and (max-width: 550px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.achievements-3 {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var( -- neutral_silver);
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.columnsectionti-12 {
    gap: var( -- space-sm);
    display: flex;
    width: 44%;
    flex-direction: column;
    align-items: start;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.sectiontitle-18 {
    color: var( -- neutral_d_grey) !important;
    font-size: 36px;
    font-weight: 600;
    width: 80%;
    line-height: 44px;
    @media only screen and (max-width: 1050px) {
        width: 100%;
        font-size: 34px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 32pxx;
    }
}

.label_one-9 {
    color: var( -- text_gray_900) !important;
    font-size: 16px;
    font-weight: 400;
}

.counts-3 {
    gap: var( -- space-5xl);
    display: flex;
    flex: 1;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.row1 {
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }    
    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}
    
    
.rowicon_one {
    padding-left: var( -- space-nd);
    padding-right: var( -- space-nd);
    gap: var( -- space-xl);
    display: flex;
    width: 48%;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 550px) {
        width: 100%;
    }
}

.rowuser_one {
    gap: var( -- space-x1);
    display: flex;
    align-items: center;
}

.row2 {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }   
    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}
          
.rowicon_three-3 {
     padding-left: 50px;
    padding-right: 50px;
    gap: var( -- space-xl);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }   
    @media only screen and (max-width: 550px) {
        width: 100%;
    }
}   

.columnnumber-14 {
        gap: var( -- space-xs);
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
}

.rowicon_five {
    gap: var( -- space-xl);
    width: 108%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media only screen and (max-width: 550px) {
        width: 100%;
    }
}
            
.icon_one-3 {
    height: 48px;
    width: 48px;
}

.columnnumber-15 {
    gap: var( -- space-xs);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.number-6 {
    color: var( -- neutral_d_grey) !important;
    font-size: 28px;
    font-weight: 700;
    @media only screen and (max-width: 1050px) {
        font-size: 26px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 24px;
    }
}

.description-18 {
    color: var( -- neutral_grey) !important;
    font-size: 16px;
    font-weight: 400;
}

.mobilelogin_one {
    height: 428px;
    width: 10%;
    object-fit: contain;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.column_two {
    gap: var( -- space-4xl);
    display: flex;
    width: 58%;
    flex-direction: column;
    align-items: start;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.columnhowtodes1-3 {
    gap: var( -- space-xl);
    display: flex;
    align-self: stretch;
    flex-direction: column;
}

.howtodesign-3 {
    color: var( -- neutral_d_grey) !important;
    font-size: 36px;
    font-weight: 680;
    line-height: 44px;
    @media only screen and (max-width: 1050px) {
        font-size: 34px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 32px;
    }
}

.description-20 {
    color: var( -- neutral_grey) !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.customers-3 {
    padding-top: var( -- space-4x1);
    padding-bottom: var( -- space-4x1);
    background-color: var( -- neutral_silver);
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 550px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.rowsectiontitle-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.imagenine_one-3 {
    height: 326px;
    width: 326px;
    object-fit: cover;
    border-radius: var( -- radius-1g);
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.columnthumbsup-3 {
    gap: var( -- space-3xl);
    display: flex;
    flex: 1j
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.content-12 {
    gap: var( -- space-xl);
    display: flex;
    flex-direction: column;
    align-items: end;
}

.description-22 {
    color: var( -- neutral_grey) !important;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    line-height: 24px;
    @media only screen and (max-width: 1050px) {
        width: 1004;
    }
}

.columntimsmith-3 {
    gap: var( -- space-md);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.britishdragon-3 {
color: var( -- neutral_1_grey) !important;
font-size: 16px;
font-weight: 400;

}

.row_three {
gap: var( -- space-xl);
display: flex;
justify-content: center;
align-items: center;
@media only screen and (max-width: 1050px) {
flex-direction: column;

.rowthumbsup_one-3 {
gap: 41px;
flex: 1;
display: flex;
justify-content: flex-end;
emedia only screen and (max-width: 1050px) {
align-self: stretch;

@media only screen and (max-width: 550px) {
flex-direction: column;

.logo_three-3 {
height: 48px;
width: 48px;
border-radius: var( -- radius-1g);
emedia only screen and (max-width: 550px) {
width: 100%;

.rowmeetall-3 {775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
79
794
795
796
797
798

799
800

801

.rowmeetall-3 {
padding-top: var( -- space-sm);
padding-bottom: var( -- space-sm);
gap: var( -- space-1g);
display: flex;
align-items: center;

.arrowleft_one-3 {
height: 24px;
object-fit: cover;

.column_three {
display: flex;
flex-direction: column;
align-items: center;

803

804
805
806

807
808

seg
810
811
812
813
814
815
816

817
818
819
826
821

.community-13 {
margin-left: 22px;
margin-right: 22px;
padding-left: 56px;
padding-right: 56px;
gap: var( -- space-sm);
display: flex;
flex-direction: column;
align-items: center;
emedia only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;
margin-left: 0px;
margin-right: epx;

.sectiontitle-15 {
color: var( -- neutral_d_grey) !important;
font-size: 36px;
font-weight: 600;
emedia only screen and (max-width: 1050px) {
font-size: 34px;

emedia only screen and (max-width: 550px) {
font-size: 32px;822
823

824
825
826
827
828
829

83

832

833
834
835

836
837
838
839
840
841
842
843
844
845
846
847
849
849
350
851
852
853
854

855

856

857

858

859
86e

861
862
863
864
865

866
867

.description-19 {
color: var( -- neutral_grey) !important;
text-align: center;
font-size: 16px;
font-weight: 400;
width: 62%;
line-height: 24px;
emedia only screen and (max-width: 1050px) {
width: 100%;

.listcreating-3 {
gap: var( -- space-2xl);
display: flex;
@media only screen and (max-width: 1050px) {
flex-direction: column;

one-9 {
width: 32%;
display: flex;
@media only screen and (max-width: 1050px) {
width: 100%;

.columncreating {
width: 100%;

.imageeighteen {
height: 286px;
object-fit: cover;
width: 100%;
border-radius: var( -- radius-1g);
@media only screen and (max-width: 1050px) {
height: auto;

content-13 {
867
868
869
870
871
872
873
874
875
876
877

878
879

880

881
882
883

884
885
886

88
888

889

890
891
892
893

894
895
896

897
898

899
900
901
982
903
904
905

906

907
908

909
910
911
912

margin-top: -96px;
margin-left: 24px;
margin-right: 24px;
gap: var( -- space-2xl);
display: flex;
position: relative;
background-color: var( -- neutral_silver);
box-shadow: var( -- shadow-sm);
flex-direction: column;
align-items: center;
padding: var( -- space-x1);
border-radius: var( -- radius-1g);
@media only screen and (max-width: 1050px) {
margin-left: 0px;
margin-right: 0px;

creating-9 {
color: var( -- neutral_grey) !important;
text-align: center;
font-size: 20px;
font-weight: 600;
align-self: stretch;
line-height: 28px;

. rowreadmore-9 {
margin-bottom: 8px;
gap: var( -- space-sm);
display: flex;
align-items: center;

timsmith-3 {
color: var( -- brand_primary) !important;
font-size: 20px;
font-weight: 600;

.readmore_two-9 {
height: 24px;
width: 24px;

footer-3 




915
916
917
918

919
920
921
922
923
924
925
926
927
928

929
930
931
932
933
934
935
936
937
938

939
940
941
942
943
944

.column_four {
padding-top: var( -- space-4x1);
padding-bottom: var( -- space-4x1);
background-color: var( -- neutral_silver);
display: flex;
flex-direction: column;
align-items: center;
@media only screen and (max-width: 550px) {
padding-top: 20px;
padding-bottom: 20px;

.letnextcentdo {
color: var( -- neutral_black_0) !important;
text-align: center;
font-size: 64px;
font-weight: 600;
align-self: stretch;
line-height: 76px;
@media only screen and (max-width: 1050px) {
font-size: 48px;

945
946
947
948

949
950
951
952
953
954
955
956
957
958

footerbig4 {
padding-top: 64px;
padding-bottom: 64px;
display: flex;
background-color: var( -- neutral_black_0);
justify-content: center;
align-items: center;
@media only screen and (max-width: 1050px) {
padding-top: 20px;
padding-bottom: 20px;

.companyinfo {
gap: var( -- space-5xl);
display: flex;
width: 32%;
flex-direction: column;















983
984
985
986

987
988
989
990
991
992
993
994
995
996
997
998
999

.rowstayuptodate {
width: 56%;
display: flex;
justify-content: space-between;
align-items: start;
gap: 20px;
@media only screen and (max-width: 1050px) {
width: 100%;

@media only screen and (max-width: 550px) {
flex-direction: column;

1001
1002

1003
1004
1005

.rowcompany {
align-self: center;
width: 46%;
display: flex;
justify-content: space-between;
gap: 20px;
emedia only screen and (max-width: 550px) {
width: 100%;

1007

1009
1010
1011
1012
1013

1014

1015
1016
1017
1018
1019
102e
1021
1022
1022
1024
1025
1026
1027
1028
1029

.columncompany {
gap: var( -- space-2xl);
display: flex;
width: 62%;
flex-direction: column;
align-items: start;

.columnsupport {
gap: var( -- space-2xl);
display: flex;
flex-direction: column;
align-items: start;

.stayuptodate {
color: var( -- neutral_white) !important;
font-size: 20px;
font-weight: 600;

.columnaboutus f


1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1840
1041
1042
1043
1044
1045
1046
1047
1048
1049
105e
1051
1052
1053

1854
1055

1856
1057
1058
1859
1060
1061
1062
1063
1864
1065
1066
1067
1068
1069
1878
1071
1072
1073
1074

columnaboutus {
gap: var( -- space-lg);
display: flex;
flex-direction: column;
align-items: start;

.copyright2020 {
color: var( -- neutral_silver) !important;
font-size: 14px;
font-weight: 400;

.co13 {
gap: var( -- space-2xl);
display: flex;
width: 40%;
flex-direction: column;
align-items: start;
@media only screen and (max-width: 550px) {
width: 100%;

.essential-icons -- send {
width: 18px;
height: 18px;

2. Page CSS

.rowlessonsand-3 {
margin-top: 80px;
width: 100%;
display: flex;
justify-content: center;
max-width: 1154px;
margin-left: auto;
margin-right: auto;
@media only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;

1875
1076

1878
1079

1883
1084
108
1086
087
1008
1889
1090
1091
1092
1093
1004
1095
1896
1097
1098
1099
1100
1101
110
1183
1184
1105
1106
1187
1108
1189
1110

1112
1113
1114
1115
1116
1117
111
1119
1120
1121

.columnsectionti-9 {
gap: 38px;
display: flex;
width: 100%;
flex-direction: column;
max-width: 1154px;
margin-left: auto;
margin-right: auto;
Pmedia only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;

.columnmembershi {
width: 108%;
max-width: 1154pk;
margin-left: auto;
margin-right: auto;
Pmedia only screen and (max-width: 105epx) {
padding-left: 20px;
padding-right: 20px;

.columnsectionti-10 {
padding-left: 56px;
padding-right: 56px;
gap: var( -- space-sm);
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
max-width: 1154px;
margin-left: auto;
margin-right: auto;
Predia only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;

.rowmobilelogin {
padding-left: 54px;
padding-right: 56px;
width: 100%;

1121
1122
1123
1124
112
112
1127
1128
1129
1136
1131
113
113
1134
1135
1136
1137
1138

1140
1141
1142
1143
1144
1145
1146
1147
1148
114
1150
115
115
1157
1154
115
1156

1158
1159
116
1161
116
1163
1164
116!
1166
1167

width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1154px;
margin-left: auto;
margin-right: auto;
gap: 20px;
Pmedia only screen and (max-width: 1050px) {
flex-direction: column;
padding-left: 20px;
padding-right: 20px;

.columnsectionti-11 {
gap: var( -- space-xl);
display: flex;
width: 100%;
flex-direction: column;
max-width: 1154px;
margin-left: auto;
margin-right: auto;
Pmedia only screen and (max-width: 105epx) {
padding-left: 20px;
padding-right: 20px;

rowfooterlogo {
padding-left: 20px;
padding-right: 20px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1154px;
margin-left: auto;
margin-right: auto;
gap: 20px;
Peedia only screen and (max-width: 1050px) {
flex-direction: column;

.sign_up {
font-weight: 500;

1166
1167
1168
116
1176
1171
1172
1173
174
1175

1177
1178
117
1180
1181
118
1182
118
185
1186
1187
188
118
1190
1191
119
1193
1194
119
119

1198
1199
200
1201
1202
1207
1284

1206
1207
1208

120
121
1211
121

.sign_up {
font-weight: 500;
text-align: center;
min-width: 10poc;
border-radius: var( -- radius-md);

.rowtheunseenof {
gap: var( -- space-6xl);
display: flex;
width: 100%;
justify-content: center;
align-items: center;
max-width: 1154px;
margin-left: auto;
margin-right: auto;
Peedia only screen and (max-width: 1050px) {
flex-direction: column;
padding-left: 20px;
padding-right: 20px;

.columnletnextce {
padding-left: 56px;
padding-right: 56px;
gap: var( -- space-4x]);
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
max-width: 1154px;
margin-left: auto;
margin-right: auto;
Peedia only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;

get_a_demo {
font-weight: 500;
gap: var( -- space-sm);
text-align: center;
min-width: 178px;
border-radius: 4px !important;

1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223

1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1246
1241
1242
124
1244
1245
1246
1247
1248
1249
1256
1251
1252
1253
1254
1255
1256
1257

date {
gap: var( -- space-xl);
display: flex;
align-self: stretch;
align-items: center;
justify-content: center;

button-11 {
font-weight: 500;
text-align: center;
min-width: 128px;
border-radius: 4px !important;

.sign_up-1 {
color: var( -- neutral_white) !important;
padding-left: 20px;
padding-right: 20px;
font-size: 14px;
font-weight: 500;
background-color: var( -- brand_primary) !important;
height: 40px;
min-width: 90px;
border-radius: 6px !important;

.rowlessonsand-5 {
margin-top: 80px;
display: flex;
justify-content: center;
@media only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;

.button-13 {
color: var( -- neutral_white) !important;
padding-left: var( -- space-4x1);
padding-right: var( -- space-4x1);
font-size: 16px;
font-weight: 500;
background-color: var( -- brand_primary) !important;

1258
1259
1268
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288

1289
1290
1291
1292
1293
1294
1295
1296

1297
1298
1299
1300
1301
1302
1303
1304

height: 52px;
min-width: 128px;
border-radius: 4px !important;
@media only screen and (max-width: 550px) {
padding-left: 20px;
padding-right: 20px;

.columnsectionti-13 {
gap: 38px;
display: flex;
flex-direction: column;
@media only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;

.columnsectionti-14 {
padding-left: 56px;
padding-right: 56px;
gap: var( -- space-sm);
display: flex;
flex-direction: column;
align-items: center;
@media only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;

.rowtheunseenof-1 {
gap: var( -- space-6xl);
display: flex;
justify-content: center;
align-items: center;
@media only screen and (max-width: 1050px) {
flex-direction: column;
padding-left: 20px;
padding-right: 20px;

rowmobilelogin-1 {
padding-left: 56px;
padding-right: 56px:

1305
1306
1307
1308
1309
1310
1311
1312
1313

1314
1315
1316
1317
1318

1319

1320

1321
1322
1323

1324
1325
1326
1327
1328
1329
1330
1331

1332
1333
1334
1335
1336
1337
1338

1339
1340
1341
1342

1343

1344
1345
1346
1347
1348
1349

display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
@media only screen and (max-width: 1050px) {
flex-direction: column;
padding-left: 20px;
padding-right: 20px;

.thumbsup_one-4 {
height: 48px;
background-color: var( -- tint_t5) !important;
width: 48px;
border-radius: 8px !important;

linkedin_three-4 {
height: 48px;
background-color: var( -- neutral_silver) !important
width: 48px;
border-radius: 8px !important;

.columnsectionti-15 {
gap: var( -- space-x1);
display: flex;
flex-direction: column;
@media only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;

.columnletnextce-1 {
padding-left: 56px;
padding-right: 56px;
gap: var( -- space-4x1);
display: flex;
flex-direction: column;
align-items: center;
@media only screen and (max-width: 1050px) {
padding-left: 20px;
padding-right: 20px;

1349
1356

1351

1352
1355
1354
1355
1356
1357
1358

1359

1366

1361
1362
1363

1364
1365
1366

1367

1368

1369
1370
1371
1372
1373
1374
1375
1376

1377
1378

1379
1380
1381

1382
1383

1384
1385
1386
1387
1388
1389
1390

padding-right: 20px;

.get_a_demo-1 {
color: var( -- neutral_white) !important;
padding-left: var( -- space-4x1);
padding-right: var( -- space-4x1);
font-size: 16px;
font-weight: 500;
gap: var( -- space-sm);
background-color: var( -- brand_primary) !important;
height: 52px;
min-width: 178px;
border-radius: 4px !important;
@media only screen and (max-width: 550px) {
padding-left: 20px;
padding-right: 20px;

.rowfooterlogo-1 {
padding-left: 20px;
padding-right: 20px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
@media only screen and (max-width: 1050px) {
flex-direction: column;

date-1 {
color: var( -- gray_300_01) !important;
padding-left: var( -- space-md);
padding-right: var( -- space-md);
background-color: var( -- default_white) !important;
height: 40px;
border-radius: 8px !important;

